@value typo-body__secondary from "@atb/theme/typography.module.css";

.container {
  --height: 2.75rem;
  display: grid;
  flex-direction: row;
  width: 100%;
  border-radius: 0.75rem;
  color: var(--static-background-background_0-text);
  background-color: var(--static-background-background_0-background);
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: stretch;
}

.container--error {
  border: 1px solid var(--static-status-error-background);
}
.container--warning {
  border: 1px solid var(--static-status-warning-background);
}

.container:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_2-outline-background);
}

.input {
  padding: var(--spacings-small);
  border: none;
  width: 100%;
  color: var(--static-background-background_0-text);
  outline: 0;
  height: var(--height);
  padding-left: 3.5rem;
  background: none;
  border-radius: 0;
}

.input::placeholder {
  color: var(--text-colors-secondary);
  opacity: 1;
}

.input:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_2-outline-background);
}

.label {
  composes: typo-body__secondary;
  position: absolute;
  height: var(--height);
  min-width: 3rem;
  display: flex;
  align-items: center;
  padding: var(--spacings-small);
  border-bottom-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
