@value typo-body__s from "@atb/theme/typography.module.css";

.container {
  --height: 2.75rem;
  --label-min-width: 3.5rem;
  display: grid;
  flex-direction: row;
  width: 100%;
  border-radius: token('border.radius.regular');
  color: token('color.background.neutral.0.foreground.primary');
  background-color: token('color.background.neutral.0.background');
  border: 1px solid token('color.foreground.dynamic.disabled');
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: stretch;
}

.container--error {
  border: 1px solid token('color.status.error.primary.background');
}
.container--warning {
  border: 1px solid token('color.status.warning.primary.background');
}

.container:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 token('border.width.medium')
    token('color.interactive.2.outline.background');
}

.input {
  padding: token('spacing.medium');
  border: none;
  width: 100%;
  color: token('color.background.neutral.0.foreground.primary');
  outline: 0;
  height: var(--height);
  padding-left: calc(var(--label-min-width) + token('spacing.small'));
  background: none;
  border-radius: 0;
}

.input::placeholder {
  color: token('color.foreground.dynamic.secondary');
  opacity: 1;
}

.input:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 token('border.width.medium')
    token('color.interactive.2.outline.background');
}

.label {
  composes: typo-body__s;
  position: absolute;
  height: var(--height);
  min-width: var(--label-min-width);
  display: flex;
  align-items: center;
  padding: token('spacing.medium');
  border-bottom-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  color: token('color.foreground.dynamic.primary');
}
