.footer {
  background-color: token('color.background.accent.4.background');
  color: token('color.background.accent.4.foreground.primary');
}
.footer__content {
  margin: var(--contentPadding) auto;
  padding: var(--contentPadding);
  max-width: var(--maxPageWidth);
}
.footer__top {
  display: grid;
  gap: token('spacing.xLarge');
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.footer__content hr {
  border: 0;
  border-bottom: token('border.width.slim') solid token('color.background.accent.4.foreground.primary');
  margin: token('spacing.xLarge');
}

.footer__title {
  composes: typo-heading__paragraph from '@atb/theme/typography.module.css';
  margin-bottom: token('spacing.xLarge');
}

.footer__section {
  padding: token('spacing.xLarge');
}
.footer__linkList {
  list-style-type: none;
}
.footer__linkList li {
  margin-bottom: token('spacing.xLarge');
}
.footer a {
  text-decoration: none;
}
.footer a,
.footer a:visited {
  transition: color 100ms ease-in;
  color: token('color.background.accent.4.foreground.primary');
}
.footer a:hover {
  opacity: 0.75;
}
.footer__bottomLinks {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: token('spacing.medium');
  flex-wrap: wrap;
}
.footer__bottomLinks > div:only-child {
  margin: 0 auto;
}
.footer__bottomLinks:has(> :last-child:nth-child(2)) {
  justify-content: space-evenly;
}
.footer__bottomLinks__mid {
  text-align: center;
  display: flex;
  gap: token('spacing.medium');
}

.footer__some {
  display: flex;
  gap: token('spacing.xSmall');
}

.footer__cookieWarning {
  margin-top: token('spacing.medium');
  composes: typo-body__tertiary from '@atb/theme/typography.module.css';
  color: token('color.background.accent.4.foreground.primary');
}

@media (max-width: 650px) {
  .footer__bottomLinks {
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: token('spacing.xLarge');
  }
}

.buttonLink {
  color: token('color.background.accent.4.foreground.primary');
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: color 100ms ease-in;
}
.buttonLink:hover {
  opacity: 0.75;
}
