.pageHeader {
  background-color: var(--static-background-background_accent_0-background);
}

.pageHeader__content {
  width: 100%;
  max-width: var(--maxPageWidth);
  margin: 0 auto;
  padding: 0 var(--contentPadding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageHeader__inner {
  display: flex;
  background-color: var(--static-background-background_accent_0-background);
  color: var(--static-background-background_accent_0-text);
  position: relative;
  z-index: 150;
}

.pageHeader__logo {
  margin-right: var(--spacings-medium);
}

@media (max-width: 800px) {
  .pageHeader__inner {
    flex: 1;
  }
}

.pageHeader__logoLink {
  composes: typo-body__secondary--bold from '@atb/theme/typography.module.css';
  transition:
    background-color 150ms ease,
    opacity 200ms ease-in-out;
}

.pageHeader__logoLink span {
  display: block;
  line-height: 0;
}

.pageHeader__logoLink,
.pageHeader__logoLink:visited {
  color: var(--static-background-background_accent_0-text);
  text-decoration: none;

  display: flex;
  align-items: center;

  white-space: nowrap;
  padding: var(--spacings-medium);
  gap: var(--spacings-medium);
  padding-left: 0;
}
.pageHeader__logoLink:active {
  opacity: 0.8;
}

.pageHeader__link {
  composes: typo-body__secondary from '@atb/theme/typography.module.css';
  transition:
    background-color 150ms ease,
    opacity 200ms ease-in-out;
  display: block;
}
.pageHeader__link,
.pageHeader__link:visited {
  padding: var(--spacings-medium);
  text-decoration: none;
  color: var(--static-background-background_accent_0-text);
}
.pageHeader__link:hover {
  background-color: var(--static-background-background_accent_1-background);
  color: var(--static-background-background_accent_1-text);
}
.pageHeader__link:active {
  opacity: 0.8;
}

.pageHeader__link--active {
  padding-bottom: calc(var(--spacings-medium) - var(--border-width-medium));
  border-bottom: var(--border-width-medium) solid
    var(--ws-colors-header-border-bottom);
}
.pageHeader__nav--modal .pageHeader__link--active {
  border-bottom-color: transparent;
}
