.pageHeader {
  background-color: token('color.background.accent.4.background');
}

.pageHeader__content {
  width: 100%;
  max-width: var(--maxPageWidth);
  margin: 0 auto;
  padding: token('spacing.medium') var(--contentPadding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageHeader__inner {
  display: flex;
  background-color: token('color.background.accent.4.background');
  color: token('color.background.accent.0.foreground.primary');
  position: relative;
  z-index: 150;
}

.pageHeader__logo {
  margin-right: token('spacing.medium');
}

@media (max-width: 800px) {
  .pageHeader__inner {
    flex: 1;
  }
}

.pageHeader__logoLink {
  composes: typo-body__secondary--bold from '@atb/theme/typography.module.css';
  transition:
    background-color 150ms ease,
    opacity 200ms ease-in-out;
}

.pageHeader__logoLink span {
  display: block;
  line-height: 0;
}

.pageHeader__logoLink,
.pageHeader__logoLink:visited {
  color: token('color.background.accent.4.foreground.primary');
  text-decoration: none;

  display: flex;
  align-items: center;

  white-space: nowrap;
  padding: token('spacing.medium');
  gap: token('spacing.medium');
  padding-left: 0;
}
.pageHeader__logoLink:active {
  opacity: 0.8;
}

.pageHeader__link {
  composes: typo-body__secondary from '@atb/theme/typography.module.css';
  transition:
    background-color 150ms ease,
    opacity 200ms ease-in-out;
  display: block;
}
.pageHeader__link,
.pageHeader__link:visited {
  padding: token('spacing.medium');
  text-decoration: none;
  color: token('color.background.accent.0.foreground.primary');
}
.pageHeader__link:hover {
  background-color: token('color.background.accent.1.background');
  color: token('color.background.accent.1.foreground.primary');
}
.pageHeader__link:active {
  opacity: 0.8;
}

.pageHeader__link--active {
  padding-bottom: calc(token('spacing.medium') - token('border.width.medium'));
  border-bottom: token('border.width.medium') solid
    var(--ws-colors-header-border-bottom);
}
.pageHeader__nav--modal .pageHeader__link--active {
  border-bottom-color: transparent;
}
