@value override-light, light from '@atb/theme/theme.module.css';

@value assistant: "../page-modules/assistant/assistant.module.css";
@value departures: "../page-modules/departures/departures.module.css";
@value search: "../components/search/search.module.css";
@value selector: "../modules/search-time/selector/selector.module.css";
@value buttonComponent: "../components/button/button.module.css";

:root {
  --ws-icon-size-xLarge: 2.5rem;

  --ws-colors-header-border-bottom: #ffffff;
}

@media (max-width: 400px) {
  :root {
    --ws-icon-size-xLarge: 1.75rem;
  }
}

.hidden {
  display: none;
}

.lightWrapper {
  composes: light;
}
.wrapper {
  composes: override-light;
  background-color: var(--static-background-background_accent_0-background);
  box-sizing: border-box;
}
.wrapper * {
  box-sizing: border-box;
}
.form {
  composes: container from assistant;
}

.nav {
  padding: 0;
  margin: 0;
  padding: var(--spacings-xLarge) var(--spacings-xLarge) 0;
}

.tabs {
  list-style-type: none;
  display: flex;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  gap: var(--spacings-xLarge);
  color: var(--static-background-background_accent_0-text);
  border-bottom: 1px solid var(--static-background-background_accent_0-text);
}

.tabs a {
  text-decoration: none;
  display: block;
  padding-bottom: var(--spacings-medium);
  color: var(--static-background-background_accent_0-text);
  box-sizing: border-box;
}
.tabSelected {
  text-decoration: none;
  border-bottom: 3px solid var(--static-background-background_accent_0-text);
}
.tabs a:hover {
  color: var(--static-background-background_accent_1-text);
}
.tabs a:active {
  color: var(--interactive-interactive_0-active-text);
}

.main {
  composes: main from assistant;
  padding-bottom: 2.75rem;
}
.heading {
  composes: heading from assistant;
  margin-bottom: 0.375rem;

  font-size: var(--baseTypo-body__primary--bold-fontSize, 1rem);
  line-height: var(--baseTypo-body__primary--bold-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__primary--bold-letterSpacing, 0.03125rem);
  font-weight: var(--baseTypo-body__primary--bold-fontWeight, 500);
}

.inputBoxes {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.search_container {
  composes: container from search;
}
.search_inputContainer {
  composes: inputContainer from search;
}
.search_label {
  composes: label from search;

  font-size: var(--baseTypo-body__secondary-fontSize, 0.875rem);
  line-height: var(--baseTypo-body__secondary-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__secondary-letterSpacing, 0.015625rem);
}
.search_input {
  composes: input from search;
}

.search_inputLast {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.button_geolocation {
  composes: geolocationButton from departures;
}

/* Selector */

.selector_group {
  composes: departureDateSelector from selector;
}

.selector_options {
  composes: options from selector;
}
.selector_options__small {
  composes: options from selector;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.selector_option {
  composes: option from selector;
}
.selector_option {
  composes: option from selector;
}

.selector_option__text {
  composes: option__text from selector;
}
.selector_option__label {
  composes: option__label from selector;
}
.selector_option__input {
  composes: option__input from selector;
}
.selector_option__input:checked + .selector_option__label {
  color: var(--interactive-interactive_1-default-text);
  background: var(--interactive-interactive_1-default-background);
  border-radius: var(--border-radius-regular);
}

.selector_dateAndTimeSelectorsWrapper {
  composes: dateAndTimeSelectorsWrapper from selector;
}
.selector_dateAndTimeSelectorsWrapper__hidden {
  display: none;
}

.selector_dateAndTimeSelectors {
  composes: dateAndTimeSelectors from selector;
}

.selector_dateSelector {
  composes: dateSelector from selector;
}
.selector_timeSelector {
  composes: timeSelector from selector;
}

.buttonGroup {
  display: flex;
  justify-content: end;
  padding: 0 var(--spacings-xLarge) var(--spacings-xLarge);
}

.button {
  cursor: pointer;
  text-align: left;
  border: 0;
  text-decoration: none;
  align-items: center;

  font-size: var(--baseTypo-body__primary-fontSize, 1rem);
  line-height: var(--baseTypo-body__primary-lineHeight, 1.25rem);
  letter-spacing: var(--baseTypo-body__primary-letterSpacing, 0.03125rem);

  display: flex;

  flex-wrap: nowrap;
  gap: var(--spacings-small);

  background: transparent;
  color: currentColor;

  transition: all 100ms ease-in;
  padding: var(--spacings-medium);
  border-radius: var(--border-radius-regular);
}
.button span {
  display: block;
  flex: 1;
}

.button,
.button:visited {
  background-color: var(--interactive-interactive_0-default-background);
  color: var(--interactive-interactive_0-default-text);
}
.button:hover {
  background-color: var(--interactive-interactive_0-hover-background);
  color: var(--interactive-interactive_0-hover-text);
}
.button:active {
  background-color: var(--interactive-interactive_0-active-background);
  color: var(--interactive-interactive_0-active-text);
}
.button:disabled,
.button.button--disabled {
  background-color: var(--interactive-interactive_0-disabled-background);
  color: var(--interactive-interactive_0-disabled-text);
}
.button:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_0-outline-background);
}

/* Autocomplete */

.listItem {
  padding: var(--spacings-small);
  display: flex;
  align-items: center;
  display: flex;
  gap: var(--spacings-small);
}
.listItem:not(:last-child) {
  border-bottom: 1px solid var(--border-primary);
}
.listItem[aria-selected='true'],
.listItem:hover {
  background-color: var(--interactive-interactive_2-active-background);
}

.itemIcon {
  padding: var(--spacings-small);
}
.itemIcon img {
  display: block;
  height: 1.25rem;
}
.itemLocality {
  composes: itemLocality from search;
  margin-left: var(--spacings-small);
}

.popupContainer {
  composes: menu from search;
  left: 0;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.messageBox {
  background: var(--static-status-error-background);
  color: var(--static-status-error-text);
  display: flex;
  padding: var(--spacings-medium);
  border-radius: var(--border-radius-regular);
}
.messageBox[hidden] {
  display: none;
}
