@value light from '@atb/theme/theme.module.css';

:root {
  --ws-icon-size-xLarge: 2.5rem;

  --ws-colors-header-border-bottom: #ffffff;
}

@media (max-width: 400px) {
  :root {
    --ws-icon-size-xLarge: 1.75rem;
  }
}

.container {
  composes: light;
}

.foo {
  color: blue;
}
