.container {
  display: flex;
  direction: row;
  justify-content: center;
  width: 100%;
  gap: var(--spacings-large);
}

.link {
  text-decoration: none;
  padding: var(--spacings-medium);
  border-radius: var(--border-radius-regular);
  color: var(--static-background-background_0-text);
  background-color: var(--static-background-background_0-background);
}

.link:hover {
  color: var(--interactive-interactive_2-hover-text);
  background-color: var(--interactive-interactive_2-hover-background);
}

.link_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link_content_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
