@value typo-body__secondary from "@atb/theme/typography.module.css";
@value typo-body__primary from "@atb/theme/typography.module.css";

.container {
  composes: typo-body__secondary;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--spacings-small);
  color: var(--static-background-background_0-text);
  background-color: var(--static-background-background_0-background);
  margin-bottom: var(--spacings-medium);
}

.rowDisplay {
  flex-direction: row-reverse;
  justify-content: start;
  gap: var(--spacings-small);
}

.input {
  background: transparent;
  color: var(--text-colors-primary);

  padding: var(--spacings-small);

  border: var(--border-width-medium) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);
}

.input:focus {
  outline: 0;
}

.input::placeholder {
  color: var(--text-colors-secondary);
  opacity: 1;
}

.input:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_2-outline-background);
}

.input__error {
  border-color: var(--status-error-primary-background);
}
/* radio */
.input__radio {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  display: block;
}
.input__radio:focus + .label__radio .label__radioBox {
  outline: 2px solid var(--interactive-interactive_2-outline-background);
  outline-offset: 2px;
}
.label__radioBox {
  display: block;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  --padding: 2px;
  --border: 2px;
  border: var(--border) solid var(--text-colors-primary);
  padding: var(--padding);
  margin-right: var(--spacings-medium);
}
.label__radioBox::after {
  content: '';
  display: block;
  height: calc(1rem - 2 * var(--padding));
  width: calc(1rem - 2 * var(--padding));
  border-radius: 50%;
  background: var(--text-colors-primary);

  transition: transform 100ms ease-in;
  transform: scale(0);
}
.input__radio:checked + .label__radio .label__radioBox::after {
  transform: scale(1);
}
.label__radio {
  display: flex;
  cursor: pointer;

  background: var(--static-background-background_0-background);
  color: var(--static-background-background_0-text);

  border-radius: var(--border-radius-regular);

  border: var(--border-width-medium) solid transparent;

  padding: var(--spacings-small) 0;
}

/* Checkbox */
.checkbox {
  display: block;
  transition:
    border 150ms ease-in-out,
    background-color 100ms ease;
  cursor: pointer;
  padding: var(--spacings-xSmall);
}
.checkbox:not(.checkbox--readonly) {
  background-color: var(--interactive-interactive_2-default-background);
  color: var(--interactive-interactive_2-default-text);
}
.checkbox:not(.checkbox--readonly):hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}
.checkbox:not(.checkbox--readonly):active {
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
}
.checkbox:not(.checkbox--readonly):disabled {
  background-color: var(--interactive-interactive_2-disabled-background);
  color: var(--interactive-interactive_2-disabled-text);
}
.checkbox:not(.checkbox--readonly):focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_2-outline-background);
}

.checkbox--disabled {
  cursor: not-allowed;
}
.checkbox--disabled > * {
  opacity: 0.2;
}
.checkbox--error {
  border-color: var(--static-status-error-background);
}
.checkbox__checkbox {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}
.checkbox__checkbox:focus {
  outline: 0;
}
.checkbox__checkbox[readonly] {
  color: var(--text-colors-secondary);
}
:global(.dark) .checkbox__checkbox::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.checkbox__content {
  display: flex;
  gap: var(--spacings-medium);
}
.checkbox__label {
  flex: 1;
}
.checkbox__description {
  flex: 1;
  opacity: 0.6;
  margin-top: var(--spacings-small);
  composes: typo-body__secondary from '@atb/theme/typography.module.css';
}
.checkbox__checkbox:not(:checked) + .checkbox__icon {
  border: var(--border-width-medium) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);
}

/* textare */
.textarea {
  border: var(--border-width-medium) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);

  padding: var(--spacings-small);

  width: 100%;
  min-height: 6rem;

  font-family: var(--font-main) !important;
  font-size: 1rem !important;
  line-height: var(--baseTypo-body__primary-lineHeight, 1.25rem) !important;
  letter-spacing: var(
    --baseTypo-body__primary-letterSpacing,
    0.03125rem
  ) !important;
}

/** select */

.select {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-small);
}

.select__select {
  border: var(--border-width-medium) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);

  padding: var(--spacings-small);
}

/* error message */

.errorMessage {
  display: flex;
  gap: var(--spacings-small);
}
