@value typo-body__secondary from "@atb/theme/typography.module.css";

.container {
  composes: typo-body__secondary;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--static-background-background_0-text);
  background-color: var(--static-background-background_0-background);
  margin-bottom: var(--spacings-medium);
}

.rowDisplay {
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: var(--spacings-small);
}

.input {
  padding: var(--spacings-small);
  color: var(--static-background-background_0-text);
  outline: 0;
  background: none;
  border-radius: 0.75rem;
}

.input::placeholder {
  color: var(--text-colors-secondary);
  opacity: 1;
}

.input:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_2-outline-background);
}

.error {
  color: red;
}

.input_error {
  border-color: red;
}
