# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

* @strandlie @reidzeibel

/e2e-tests/ @strandlie @reidzeibel @tormoseng
