@value typo-body__secondary from "@atb/theme/typography.module.css";
@value typo-body__primary from "@atb/theme/typography.module.css";

.container {
  composes: typo-body__secondary;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--spacings-small);
  color: var(--static-background-background_0-text);
  background-color: var(--static-background-background_0-background);
  margin-bottom: var(--spacings-medium);
}

.rowDisplay {
  flex-direction: row-reverse;
  justify-content: start;
  gap: var(--spacings-small);
}

.input {
  background: transparent;
  color: var(--text-colors-primary);

  padding: var(--spacings-small);

  border: var(--border-width-slim) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);
  width: 100%;
}

.input:focus {
  outline: 0;
}

.input::placeholder {
  color: var(--text-colors-secondary);
  opacity: 1;
}

.input:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-slim)
    var(--interactive-interactive_2-outline-background);
}

.input__error {
  border-color: var(--status-error-primary-background);
}
/* radio */
.input__radio {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  display: block;
}
.input__radio:focus + .label__radio .label__radioBox {
  outline: 2px solid var(--interactive-interactive_2-outline-background);
  outline-offset: 2px;
}

.label__radioBox:hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}

.label__radioBox {
  display: block;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  --padding: 2px;
  border: var(--border-width-slim) solid var(--text-colors-primary);
  padding: var(--padding);
  margin-right: var(--spacings-medium);
}
.label__radioBox::after {
  content: '';
  display: block;
  height: calc(1rem - 2 * var(--border-width-slim));
  width: calc(1rem - 2 * var(--border-width-slim));
  border-radius: 50%;
  background: var(--text-colors-primary);

  transition: transform 100ms ease-in;
  transform: scale(0);
}
.input__radio:checked + .label__radio .label__radioBox::after {
  transform: scale(1);
}
.label__radio {
  display: flex;
  cursor: pointer;

  background: var(--static-background-background_0-background);
  color: var(--static-background-background_0-text);

  border-radius: var(--border-radius-regular);

  border: var(--border-width-slim) solid transparent;

  padding: var(--spacings-small) 0;
}

.label__info {
  display: flex;
  align-items: center;
  gap: var(--spacings-medium);
  margin: var(--spacings-small);
  margin-left: var(--spacings-large);
  padding: var(--spacings-small);
  background: var(--static-background-background_1-background);
}

.label_container {
  display: flex;
  justify-content: space-between;
}

/* Icon button */
.iconButton {
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
}

.iconButton:focus {
  outline: 2px solid var(--interactive-interactive_2-outline-background);
  outline-offset: 2px;
}

.iconButton:hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}

/* Checkbox */
.checkbox {
  display: block;
  transition:
    border 150ms ease-in-out,
    background-color 100ms ease;
  cursor: pointer;
  padding: var(--spacings-xSmall);
  border-radius: var(--border-radius-small);
}
.checkbox:not(.checkbox--readonly) {
  background-color: var(--interactive-interactive_2-default-background);
  color: var(--interactive-interactive_2-default-text);
}
.checkbox:not(.checkbox--readonly):hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}
.checkbox:not(.checkbox--readonly):active {
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
}
.checkbox:not(.checkbox--readonly):disabled {
  background-color: var(--interactive-interactive_2-disabled-background);
  color: var(--interactive-interactive_2-disabled-text);
}
.checkbox:not(.checkbox--readonly):focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-slim)
    var(--interactive-interactive_2-outline-background);
}

.checkbox--disabled {
  cursor: not-allowed;
}
.checkbox--disabled > * {
  opacity: 0.2;
}
.checkbox--error {
  border-color: var(--static-status-error-background);
}
.checkbox__checkbox {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}
.checkbox__checkbox:focus {
  outline: 0;
}
.checkbox__checkbox[readonly] {
  color: var(--text-colors-secondary);
}
:global(.dark) .checkbox__checkbox::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.checkbox__content {
  display: flex;
  gap: var(--spacings-medium);
}
.checkbox__label {
  flex: 1;
}
.checkbox__description {
  flex: 1;
  opacity: 0.6;
  margin-top: var(--spacings-small);
  composes: typo-body__secondary from '@atb/theme/typography.module.css';
}
.checkbox__checkbox:not(:checked) + .checkbox__icon {
  border: var(--border-width-slim) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);
}

/* textare */
.textarea {
  border: var(--border-width-slim) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);

  padding: var(--spacings-small);

  width: 100%;
  min-height: 6rem;

  font-family: var(--font-main) !important;
  font-size: 1rem !important;
  line-height: var(--baseTypo-body__primary-lineHeight, 1.25rem) !important;
  letter-spacing: var(
    --baseTypo-body__primary-letterSpacing,
    0.03125rem
  ) !important;
}

/* error message */

.errorMessage {
  display: flex;
  gap: var(--spacings-small);
}

/** file input */
.file_input__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-small);
}

.input__file {
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.label__file {
  display: flex;
  gap: var(--spacings-small);
  align-items: center;
  background-color: var(--interactive-background-background_1);
  color: var(--text-colors-primary);
  padding: var(--spacings-small);
  border: var(--border-width-slim) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.label__file:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-slim)
    var(--interactive-interactive_2-outline-background);
}

.label__file:hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}

.fileList {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-small);
  padding: var(--spacings-small) 0;
}
.fileItem {
  display: flex;
  align-items: center;
  gap: var(--spacings-small);
}

/* modal */
.modal_wrapper {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_content {
  display: flex;
  flex-direction: column;
  max-width: 22.5rem;
  padding: var(--spacings-large);
  border: var(--border-width-medium) solid
    var(--interactive-interactive_2-outline-background); /* Use border property */
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_2-outline-background);
  color: var(--static-background-background_0-text);
  background-color: var(--static-background-background_0-background);
  border-radius: var(--border-radius-regular);
  position: relative;
}

.modal_content > * + * {
  margin-top: var(--spacings-large);
}

.modal_header {
  display: flex;
  justify-content: space-between;
}

/* select and searchable-select*/
.select__select_container,
.searchable_select__comboBox {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-small);
}

.searchable_select__input_container {
  position: relative;
  display: flex;
  align-items: center;
}

.searchable_select__group,
.searchable_select__disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: var(--border-width-slim) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);
}

.searchable_select__group:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-slim)
    var(--interactive-interactive_2-outline-background);
}

.searchable_select__input {
  flex-grow: 2;
  border: none;
  outline: none;
  padding: var(--spacings-small);
  background-color: transparent;
  color: var(--static-background-background_2-text);
}

.searchable_select__input::placeholder {
  color: var(--text-colors-secondary);
  opacity: 1;
}

.searchable_select__input:not(:focus):placeholder-shown {
  color: var(--text-colors-secondary);
  font-style: italic;
  opacity: 0.7;
}

.searchable_select__button {
  display: flex;
  border: none;
  padding: var(--spacings-small);
  background-color: transparent;
}

.select__popover,
.searchable_select__popover {
  overflow: auto;
  max-height: 16rem;
  width: var(--trigger-width);
  border: var(--border-width-slim) solid var(--text-colors-primary);
  border-radius: var(--border-radius-small);
  color: var(--static-background-background_0-text);
  background: var(--static-background-background_0-background);
  animation: fadeIn 0.2s;
  padding: var(--spacings-small);
  margin-bottom: var(--spacings-small);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.select__listBox,
.searchable_select__listBox {
  max-height: 16rem;
  overflow-y: auto;
  outline: none;
}

.searchable_select__truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.select__listBoxItem,
.searchable_select__listBoxItem {
  display: flex;
  align-items: center;
  cursor: default;
  color: var(--static-background-background_0-text);
  border-radius: var(--border-radius-small);
  border-bottom: 1px solid var(--static-background-background_2-background);
  z-index: 1;
}

.select__item,
.searchable_select__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacings-small);
  padding: var(--spacings-small);
}

.select__item:active,
.searchable_select__item:active {
  background-color: var(--interactive-interactive_3-active-background);
  color: var(--interactive-interactive_3-active-text);
  z-index: 2;
}

.select__highlight,
.searchable_select__highlight {
  position: relative;
  border-radius: var(--border-radius-small);
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
  z-index: 2;
}

.searchable_select__selected {
  position: relative;
  border-radius: var(--border-radius-small);
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
  z-index: 2;
}

.select__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacings-small);
  color: var(--text-colors-primary);
  background-color: transparent;
  border-radius: var(--border-radius-small);
  border: var(--border-width-slim) solid var(--text-colors-primary);
}

.select__button:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-slim)
    var(--interactive-interactive_2-outline-background);
}

.select__item:focus,
.select__listBoxItem:focus {
  outline: 0;
  border-radius: var(--border-radius-small);
}

.select__placholder {
  font-style: italic;
  opacity: 0.7;
  padding-right: var(--spacings-small);
}

@media (max-width: 600px) {
  .select,
  .select__placholder,
  .select__listBoxItem,
  .searchable_select__comboBox,
  .searchable_select__listBoxItem,
  .searchable_select__input:not(:focus):placeholder-shown {
    font-size: 1.25rem;
  }
  .select__popover,
  .searchable_select__popover {
    overflow-y: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  }
}

/* Time and date selector */
.dateSelectorContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-small);
  font-size: 1rem !important;
}

.dateSelector,
.timeSelector {
  --height: 2.75rem;
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.dateSelector input[type='date'],
.timeSelector input[type='time'] {
  height: var(--height);
  padding: var(--spacings-medium);
  border: none;
  background-color: transparent;
  color: var(--static-background-background_0-text);
  flex: 1;
}

.calendarSelectorGroup {
  display: flex;
  position: relative;
  width: 100%;
}

.calendarButton {
  position: absolute;
  right: 0;
  border: none;
  cursor: pointer;
  background: none;
  margin: var(--spacings-medium);
  border-radius: var(--border-radius-small);
}

.calendarDialog {
  padding: var(--spacings-xSmall);
  background: var(--static-background-background_0-background);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
}

.calendarDialog__header {
  display: flex;
  gap: var(--spacings-medium);
  justify-content: center;
  align-items: center;
  padding: var(--spacings-small);
}

.calendarDialog__title {
  composes: typo-heading__component from '@atb/theme/typography.module.css';
}

.calendarDialog__headerButtons {
  background: none;
  border: none;
  padding: var(--spacings-xSmall) var(--spacings-medium);
  cursor: pointer;
}

.calendarGrid {
  width: 100%;
}

.calendarGrid__cell {
  padding: var(--spacings-xSmall) var(--spacings-medium);
  cursor: pointer;
  text-align: center;
}

.calendarGrid__cell[data-disabled] {
  opacity: 0.3;
  cursor: default;
}

.calendarGrid__cell[data-selected] {
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
  font-weight: bold;
  border-radius: var(--border-radius-small);
}

.dateSelectorInput,
.timeSelectorInput {
  height: var(--height);
  padding: var(--spacings-medium);
  color: var(--static-background-background_0-text);
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  display: flex;
  border: var(--border-width-slim) solid var(--text-colors-primary);
  width: 100%;
  border-radius: var(--border-radius-small);

  border: var(--border-width-slim) solid var(--text-colors-primary);
  align-items: center;
}

.dateSelector input[type='date']:focus,
.timeSelector input[type='time']:focus {
  outline: 0;
}

.dateSelector:focus-within,
.timeSelector:focus-within {
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_2-outline-background);
}

:global(.dark)
  .dateSelector
  input[type='date']::-webkit-calendar-picker-indicator,
:global(.dark)
  .timeSelector
  input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
