.linkText {
  margin-top: token('spacing.medium');
}

.dialog {
  padding: token('spacing.large');
  margin: auto;
  border: none;
  border-radius: token('border.radius.regular');
  background-color: token('color.background.neutral.1.background');
  color: token('color.background.neutral.1.foreground.primary');
}

.dialog::backdrop {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.dialog__wrapper {
  display: flex;
  flex-direction: column;
  gap: token('spacing.medium');
}
.dialog__content {
  display: flex;
  flex-direction: column;
  gap: token('spacing.medium');
  padding: token('spacing.large');
  background-color: token('color.background.neutral.0.background');
  color: token('color.background.neutral.0.foreground.primary');
  border-radius: token('border.radius.regular');
}
.dialog__button {
  text-align: center;
}
.dialog__title {
  display: flex;
  align-items: center;
  gap: token('spacing.small');
}
.dialog__validity {
  display: flex;
  align-items: center;
  gap: token('spacing.small');
}
.secondaryTextColor {
  color: token('color.foreground.dynamic.secondary');
}
