/* Button */
.button {
  composes: typo-body__primary from '@atb/theme/typography.module.css';
  cursor: pointer;
  text-align: left;
  border: 0;
  text-decoration: none;
  align-items: center;

  display: flex;

  flex-wrap: nowrap;
  gap: var(--spacings-small);

  background: transparent;
  color: currentColor;

  transition: all 100ms ease-in;
}
.button--display_inline {
  display: inline-flex;
}
.button--disabled,
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.button--state_loading {
  cursor: not-allowed;
}
.button__text {
  display: block;
  flex: 1;
}

.button--transparent,
.button--transparent:visited {
}
.button--transparent:hover {
  color: var(--text-colors-secondary);
}
.button--transparent:active {
  background-color: var(--interactive-interactive_0-active-background);
  color: var(--interactive-interactive_0-active-text);
}
.button--transparent:disabled,
.button--transparent.button--disabled {
  opacity: 0.6;
}
.button--transparent:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_1-outline-background);
}

.button--transparent--underline,
.button--transparent--underline:visited {
  text-decoration: underline;
}
.button--transparent--underline:hover {
  color: var(--text-colors-secondary);
}
.button--transparent--underline:active {
  background-color: var(--interactive-interactive_0-active-background);
  color: var(--interactive-interactive_0-active-text);
}
.button--transparent--underline:disabled,
.button--transparent--underline.button--disabled {
  opacity: 0.6;
}
.button--transparent--underline:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_1-outline-background);
}

/* Interactive button 0 */
.button--interactive_0,
.button--interactive_0:visited {
  background-color: var(--interactive-interactive_0-default-background);
  color: var(--interactive-interactive_0-default-text);
}
.button--interactive_0:hover {
  background-color: var(--interactive-interactive_0-hover-background);
  color: var(--interactive-interactive_0-hover-text);
}
.button--interactive_0:active {
  background-color: var(--interactive-interactive_0-active-background);
  color: var(--interactive-interactive_0-active-text);
}
.button--interactive_0:disabled,
.button--interactive_0.button--disabled {
  background-color: var(--interactive-interactive_0-disabled-background);
  color: var(--interactive-interactive_0-disabled-text);
}
.button--interactive_0:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_0-outline-background);
}

/* Interactive button 0 bordered */
.button--interactive_0--bordered,
.button--interactive_0--bordered:visited {
  background-color: var(--interactive-interactive_0-default-background);
  color: var(--interactive-interactive_0-default-text);
  box-shadow: inset 0 0 0 var(--border-width-slim)
    var(--interactive-interactive_0-default-text);
}

.button--interactive_0--bordered:hover {
  background-color: var(--interactive-interactive_0-hover-background);
  color: var(--interactive-interactive_0-hover-text);
}

.button--interactive_0--bordered:active {
  background-color: var(--interactive-interactive_0-active-background);
  color: var(--interactive-interactive_0-active-text);
}

.button--interactive_0--bordered:disabled,
.button--interactive_0--bordered.button--disabled {
  background-color: var(--interactive-interactive_0-disabled-background);
  color: var(--interactive-interactive_0-disabled-text);
}

.button--interactive_0--bordered:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_0-outline-background);
}

.button--interactive_0--bordered-light-outline,
.button--interactive_0--bordered-light-outline:visited {
  background-color: var(--interactive-interactive_0-default-background);
  color: var(--interactive-interactive_0-default-text);
  box-shadow: inset 0 0 0 var(--border-width-slim)
    var(--interactive-interactive_0-default-text);
}

.button--interactive_0--bordered-light-outline:hover {
  background-color: var(--interactive-interactive_0-hover-background);
  color: var(--interactive-interactive_0-hover-text);
}

.button--interactive_0--bordered-light-outline:active {
  background-color: var(--interactive-interactive_1-hover-background);
  color: var(--interactive-interactive_1-active-text);
}

.button--interactive_0--bordered-light-outline:disabled,
.button--interactive_0--bordered-light-outline.button--disabled {
  background-color: var(--interactive-interactive_0-disabled-background);
  color: var(--interactive-interactive_0-disabled-text);
}

.button--interactive_0--bordered-light-outline:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_0-active-background);
}

/* Interactive button 1 */

.button--interactive_1,
.button--interactive_1:visited {
  background-color: var(--interactive-interactive_1-default-background);
  color: var(--interactive-interactive_1-default-text);
}
.button--interactive_1:hover {
  background-color: var(--interactive-interactive_1-hover-background);
  color: var(--interactive-interactive_1-hover-text);
}
.button--interactive_1:active {
  background-color: var(--interactive-interactive_1-active-background);
  color: var(--interactive-interactive_1-active-text);
}
.button--interactive_1:disabled,
.button--interactive_1.button--disabled {
  background-color: var(--interactive-interactive_1-disabled-background);
  color: var(--interactive-interactive_1-disabled-text);
}
.button--interactive_1:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_1-outline-background);
}

/* Interactive button 2 */

.button--interactive_2,
.button--interactive_2:visited {
  background-color: var(--interactive-interactive_2-default-background);
  color: var(--interactive-interactive_2-default-text);
}
.button--interactive_2:hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}
.button--interactive_2:active {
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
}
.button--interactive_2:disabled,
.button--interactive_2.button--disabled {
  background-color: var(--interactive-interactive_2-disabled-background);
  color: var(--interactive-interactive_2-disabled-text);
}
.button--interactive_2:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_2-outline-background);
}

/* Interactive button 2 alternative */

.button--interactive_2--light-outline,
.button--interactive_2--light-outline:visited {
  background-color: var(--interactive-interactive_2-default-background);
  color: var(--interactive-interactive_2-default-text);
}
.button--interactive_2--light-outline:hover {
  background-color: var(--interactive-interactive_2-hover-background);
  color: var(--interactive-interactive_2-hover-text);
}
.button--interactive_2--light-outline:active {
  background-color: var(--interactive-interactive_2-active-background);
  color: var(--interactive-interactive_2-active-text);
}
.button--interactive_2--light-outline:disabled,
.button--interactive_2--light-outline.button--disabled {
  background-color: var(--interactive-interactive_2-disabled-background);
  color: var(--interactive-interactive_2-disabled-text);
}
.button--interactive_2--light-outline:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_1-active-background);
}

/* Interactive button 3 */

.button--interactive_3,
.button--interactive_3:visited {
  background-color: var(--interactive-interactive_3-default-background);
  color: var(--interactive-interactive_3-default-text);
}
.button--interactive_3:hover {
  background-color: var(--interactive-interactive_3-hover-background);
  color: var(--interactive-interactive_3-hover-text);
}
.button--interactive_3:active {
  background-color: var(--interactive-interactive_3-active-background);
  color: var(--interactive-interactive_3-active-text);
}
.button--interactive_3:disabled,
.button--interactive_3.button--disabled {
  background-color: var(--interactive-interactive_3-disabled-background);
  color: var(--interactive-interactive_3-disabled-text);
}
.button--interactive_3:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_3-outline-background);
}

/* Interactive button, destructive */

.button--destructive,
.button--destructive:visited {
  background-color: var(
    --interactive-interactive_destructive-default-background
  );
  color: var(--interactive-interactive_destructive-default-text);
}
.button--destructive:hover {
  background-color: var(--interactive-interactive_destructive-hover-background);
  color: var(--interactive-interactive_destructive-hover-text);
}
.button--destructive:active {
  background-color: var(
    --interactive-interactive_destructive-active-background
  );
  color: var(--interactive-interactive_destructive-active-text);
}
.button--destructive:disabled,
.button--destructive.button--disabled {
  background-color: var(
    --interactive-interactive_destructive-disabled-background
  );
  color: var(--interactive-interactive_destructive-disabled-text);
}
.button--destructive:focus {
  outline: 0;
  box-shadow: inset 0 0 0 var(--border-width-medium)
    var(--interactive-interactive_destructive-outline-background);
}

.button--size_medium {
  padding: var(--spacings-xLarge);
}
.button--size_small {
  padding: var(--spacings-medium);
}
.button--size_compact {
  padding: 0;
}
.button--size_pill {
  padding: var(--spacings-xSmall) var(--spacings-medium);
}

.button--radius_top-bottom {
  border-radius: var(--border-radius-regular);
}
.button--radius_top {
  border-top-left-radius: var(--border-radius-regular);
  border-top-right-radius: var(--border-radius-regular);
}
.button--radius_bottom {
  border-bottom-left-radius: var(--border-radius-regular);
  border-bottom-right-radius: var(--border-radius-regular);
}
.button--radius_top-bottom.button--radiusSize_circular {
  border-radius: var(--border-radius-circle);
}
.button--radius_top.button--radiusSize_circular {
  border-top-left-radius: var(--border-radius-circle);
  border-top-right-radius: var(--border-radius-circle);
}
.button--radius_bottom.button--radiusSize_circular {
  border-bottom-left-radius: var(--border-radius-circle);
  border-bottom-right-radius: var(--border-radius-circle);
}
