.container {
  margin: 0 auto;
  max-width: var(--maxPageWidth);
  padding: token('spacing.xLarge');
  display: flex;
  flex-direction: column;
  gap: token('spacing.medium');
}
.headerContainer {
  display: flex;
  flex-direction: column;
  gap: token('spacing.large');
}

.pageMap {
  height: 37.5rem;
  width: 100%;
}

@media (max-width: 650px) {
  .pageMap {
    height: 16rem;
  }
}
