.container {
  margin: 0 auto;
  max-width: var(--maxPageWidth);
  padding: token('spacing.xLarge');

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    'header header'
    'messages messages'
    'trip map';
  gap: token('spacing.large');
}
@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'map'
      'messages'
      'trip';
  }
}
.headerContainer {
  grid-area: header;
  display: flex;
  flex-direction: column;
  gap: token('spacing.large');
}
