.heading {
  color: token('color.background.accent.0.foreground.primary');
  margin-bottom: token('spacing.medium');
}

.transferSlackSegments {
  max-width: 30rem;
}

@media (max-width: 650px) {
  .transferSlackSegments {
    max-width: 100%;
  }
}
