.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: token('spacing.large');
  text-align: center;
  max-width: 22rem;
  margin: 0 auto;

  padding: token('spacing.medium');
}

.text {
  display: flex;
  flex-direction: column;
  gap: token('spacing.xSmall');
  color: token('color.foreground.dynamic.secondary');
}

.emptyImage {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 15rem;
  min-width: 10rem;
}
