.container {
  display: flex;
  flex-direction: column;
  gap: token('spacing.xLarge');
}
.headerContainer {
  display: flex;
  align-items: center;
  gap: token('spacing.small');
}
.tripDetails {
  display: flex;
  flex-direction: column;
  gap: token('spacing.small');
}
.date,
.duration {
  display: flex;
  gap: token('spacing.small');
  color: token('color.foreground.dynamic.secondary');
}
