.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-xLarge);
}
.headerContainer {
  display: flex;
  align-items: center;
  gap: var(--spacings-small);
}
.tripDetails {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-small);
}
.date,
.duration {
  display: flex;
  gap: var(--spacings-small);
  color: var(--text-colors-secondary);
}
