.expectedContainer {
  display: flex;
  align-items: center;
}
.significantDifferenceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.floatingContainer {
  position: relative;
}

.floatingAimedTime {
  position: absolute;
  top: 100%;
  right: 0;
}
.significantDifference {
  display: flex;
  align-items: center;
}

.timeContainer {
  display: flex;
  gap: token('spacing.xSmall');
  align-items: center;
  white-space: nowrap;
}
