@value interactive-interactive_2 from "@atb/theme/theme.module.css";

.layout__container {
  margin: 0 auto;
  max-width: var(--maxPageWidth);
  padding: var(--spacings-large);
  display: flex;
  flex-direction: column;
  gap: var(--spacings-medium);
}

.contact_page_navigator__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacings-medium);
}

.contact_page_navigator__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacings-small);
  width: 12rem;
  height: 7.5rem;

  composes: interactive-interactive_2;
  text-align: center;
  text-decoration: none;

  padding: var(--spacings-large);
  border-radius: var(--border-radius-regular);
}

.contact_page_navigator__link:hover {
  color: var(--interactive-interactive_2-hover-text);
  background-color: var(--interactive-interactive_2-hover-background);
}

.contact_page_navigator__activePage {
  border: var(--border-width-medium) solid
    var(--interactive-interactive_2-outline-background);
}
