.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--maxPageWidth);
  margin: 0 auto;
}
@media (max-width: 650px) {
  .layout {
    padding: 0 token('spacing.medium');
  }
}
.homeLink__container {
  padding: 0 token('spacing.medium');
}

.layout__container {
  padding: token('spacing.large');

  display: flex;
  flex-direction: column;
  gap: token('spacing.xLarge');
}

.contact_page_navigator__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: token('spacing.medium');
}

.contact_page_navigator__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: token('spacing.small');
  width: 12rem;
  height: 7.5rem;

  color: token('color.interactive.2.default.foreground.primary');
  background-color: token('color.interactive.2.default.background');
  text-align: center;
  text-decoration: none;

  padding: token('spacing.large');
  border-radius: token('border.radius.regular');
}

@media (max-width: 600px) {
  .contact_page_navigator__link {
    width: 10rem;
    height: 8rem;
  }
}

.contact_page_navigator__link:hover {
  color: token('color.interactive.2.hover.foreground.primary');
  background-color: token('color.interactive.2.hover.background');
}

.contact_page_navigator__link:active {
  color: token('color.interactive.2.active.foreground.primary');
  background-color: token('color.interactive.2.active.background');
}
.contact_page_navigator__link:disabled {
  color: token('color.interactive.2.disabled.foreground.primary');
  background-color: token('color.interactive.2.disabled.background');
}

.contact_page_navigator__activePage {
  border: token('border.width.medium') solid
    token('color.interactive.2.outline.background');
}

.privacyAndTerms {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: token('spacing.large');
  margin: token('spacing.xLarge');
  padding-bottom: 0;
  margin-bottom: 0;
}
