.transportIcons {
  display: flex;
  gap: 0.125rem;
}

.transportIcon,
.transportIconWithLabel {
  display: inline-block;
  border-radius: var(--border-radius-small);
  padding: var(--spacings-xSmall);
}

.transportIconWithLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacings-small) var(--spacings-medium);
}

.transportIcon img,
.transportIconWithLabel img {
  display: block;
}

.transportIconWithLabel__label {
  margin-left: var(--spacings-xSmall);
}

.transportIconWithLabel__duration {
  align-self: flex-end;
  transform: translateY(25%);
  margin-left: -0.125rem;
}
