.transportIcons {
  display: flex;
  gap: 0.125rem;
}

.transportIcon,
.transportIconWithLabel {
  display: inline-block;
  border-radius: token('border.radius.small');
  padding: token('spacing.xSmall');
}

.transportIconWithLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: token('spacing.small') token('spacing.medium');
}

.transportIcon img,
.transportIconWithLabel img {
  display: block;
}

.transportIconWithLabel__label {
  margin-left: token('spacing.xSmall');
}

.transportIconWithLabel__duration {
  align-self: flex-end;
  transform: translateY(25%);
  margin-left: -0.125rem;
}
