.transportIcons {
  display: flex;
  gap: 0.125rem;
}

.transportIcon,
.transportIconWithLabel {
  display: inline-block;
  border-radius: var(--border-radius-small);
  padding: var(--spacings-xSmall);
}

.transportIconWithLabel {
  display: flex;
  align-items: center;
  gap: var(--spacings-xSmall);
  padding: var(--spacings-small) var(--spacings-medium);
}

.transportIcon img,
.transportIconWithLabel img {
  display: block;
}
