.container {
  display: flex;
  flex-direction: row;
  grid-column: span 2;
  gap: token('spacing.large');
}

.href {
  text-decoration: none;
  position: relative;
  padding-bottom: token('spacing.medium');
  color: token('color.foreground.dynamic.secondary');
  border-bottom: 1px solid token('color.foreground.dynamic.secondary');
}

.href:hover,
.href:hover > p {
  color: token('color.background.accent.0.foreground.primary');
  opacity: 0.75;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  padding-bottom: token('spacing.medium');
  border-bottom: 2px solid token('color.foreground.dynamic.primary');
}
