.bodyContainer {
    display: grid;
    grid-template-areas:
        "messages messages"
        "trip map";
    grid-template-columns: 2fr 3fr;
    gap: token('spacing.medium');
}
@media (max-width: 650px) {
    .bodyContainer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "map"
            "messages"
            "trip";
    }
}

.mapContainer {
    grid-area: map;
    min-height: 37.5rem;
    max-height: 37.5rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: token('spacing.large');
}

.tripDetails {
    display: flex;
    flex-direction: column;
    gap: token('spacing.small');
}

.duration,
.walkDistance {
    display: flex;
    gap: token('spacing.xSmall');
    color: token('color.foreground.dynamic.secondary');
}

.tripMessages {
    grid-area: messages;
}
.tripContainer {
    grid-area: trip;
    display: flex;
    flex-direction: column;
    gap: token('spacing.medium');
}

@media (max-width: 650px) {
    .mapContainer {
        min-height: auto;
    }
}

@media (max-width: 650px) {
    .duration {
        display: none;
    }
}