.bodyContainer {
  display: grid;
  grid-template-areas:
    'messages messages'
    'trip map';
  grid-template-columns: 2fr 3fr;
  gap: token('spacing.medium');
}
@media (max-width: 650px) {
  .bodyContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      'map'
      'messages'
      'trip';
  }
}

.mapContainer {
  grid-area: map;
  width: 100%;
}

.tripMessages {
  grid-area: messages;
}
.tripContainer {
  grid-area: trip;
  display: flex;
  flex-direction: column;
  gap: token('spacing.medium');
}
