.heading {
  color: token('color.background.accent.0.foreground.primary');
}

.container {
  max-width: 30rem;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  gap: token('spacing.medium');
  margin-bottom: token('spacing.medium');
}

.kmphContainer {
  display: flex;
  align-items: center;
  gap: token('spacing.xSmall');
}

@media (max-width: 650px) {
  .container {
    max-width: 100%;
  }
}
