@value typo-body__s from "@atb/theme/typography.module.css";

.container {
  display: flex;
  flex-direction: column;
  gap: token('spacing.medium');
}
.rowContainer {
  position: relative;
  overflow: hidden;
  gap: 1rem;
  --labelWidth: 5rem;
  --decorationContainerWidth: 1.25rem;
  --decorationLineWidth: 0.25rem;
  --decorationLineEndWidth: 0.75rem;
}
.walkTime,
.waitTime,
.textColor__secondary {
  composes: typo-body__s;
  color: token('color.foreground.dynamic.secondary');
}
.realtimeSection {
  display: flex;
  align-items: center;
  gap: token('spacing.small');
}
.authoritySection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: token('spacing.small');
}
.onDemandTransportLabel {
  composes: typo-body__s;
  color: token('color.foreground.dynamic.secondary');
  padding-top: token('spacing.small');
}
