@value typo-body__secondary from "@atb/theme/typography.module.css";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_options__list {
  list-style-type: none;
}

.rules__list {
  padding-left: token('spacing.xLarge');
}

.rules__list > li {
  padding: token('spacing.xSmall') 0;
}

.submitButton {
  margin: token('spacing.large');
  margin-top: 0px;
  max-width: 6rem;
  text-align: center;
}

@media (max-width: 600px) {
  .submitButton {
    max-width: none;
  }
}
