@value typo-body__s from "@atb/theme/typography.module.css";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: token('spacing.large');
}

.form_options__list {
  list-style-type: none;
}

.rules__list {
  padding-left: token('spacing.xLarge');
}

.rules__list > li {
  padding: token('spacing.xSmall') 0;
}

.feedback {
  composes: typo-body__s;
  padding: token('spacing.small');
  color: token('color.background.neutral.0.foreground.primary');
  outline: 0;
  background: none;
  border-radius: 0.75rem;
  max-width: 100%;
}

.feedback::placeholder {
  color: token('color.foreground.dynamic.secondary');
  opacity: 1;
}

.feedback:focus-within {
  outline: 0;
  box-shadow: inset 0 0 0 token('border.width.medium')
    token('color.interactive.2.outline.background');
}

.feedback__error {
  border-color: token('color.status.error.primary.background');
}

.feedback_label__error {
  background-color: token('color.status.error.primary.background');
  outline: 0;
  padding: token('spacing.small');
  color: token('color.status.error.primary.foreground.primary');
}

.submitButton {
  margin: token('spacing.large');
  margin-top: 0px;
  max-width: 6rem;
  text-align: center;
}

@media (max-width: 600px) {
  .submitButton {
    max-width: none;
  }
}

.extraInfo {
  display: flex;
  flex-direction: column;
  gap: token('spacing.small');
}
.extraInfo__buttonContainer {
  display: flex;
  flex-direction: row;
  gap: token('spacing.small');
}
