.container {
  display: flex;
  flex-direction: column;
  padding: token('spacing.xLarge');
  margin: token('spacing.large');
  margin-top: 0px;
  border-radius: token('border.radius.regular');
  color: token('color.background.neutral.0.foreground.primary');
  background-color: token('color.background.neutral.0.background');
}

.container > * + * {
  margin-top: token('spacing.medium');
}
