.container {
  display: flex;
  flex-direction: column;
  padding: var(--spacings-xLarge);
  margin-bottom: var(--spacings-large);
  border-radius: var(--border-radius-regular);
  color: var(--static-background-background_0-text);
  background-color: var(--static-background-background_0-background);
}

.container > * + * {
  margin-top: var(--spacings-medium);
}
