.container {
  padding: var(--spacings-large);
  margin-bottom: var(--spacings-large);
  border-radius: var(--border-radius-regular);
  color: var(--static-background-background_0-text);
  background-color: var(--static-background-background_0-background);
}
