.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: token('spacing.xSmall');
  padding: token('spacing.small');
  border-radius: token('spacing.small');
}
.publicCode {
  text-align: right;
}
