.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--spacings-xSmall);
  padding: var(--spacings-small);
  border-radius: var(--spacings-small);
}
.publicCode {
  text-align: right;
}
