.tripPatternWrapper {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.tripResults {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-large);
}

.nonTransitResult {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacings-medium);
}

.dayLabel {
  padding-bottom: var(--spacings-medium);
}

.fetchButton {
  align-self: center;
  margin-top: var(--spacings-xLarge);
}
