@value interactive-interactive_2 from "@atb/theme/theme.module.css";

.nearestContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: minmax(37.5rem, auto) auto;
  grid-template-areas: 'stop-places map';
  gap: var(--spacings-small);
}
.mapContainer {
  grid-area: map;
  max-height: 37.5rem;
}
.stopPlacesList {
  grid-area: stop-places;
  display: flex;
  flex-direction: column;
  gap: var(--spacings-small);
  list-style: none;
}
.stopPlaceItem {
  composes: interactive-interactive_2;
  display: flex;
  text-decoration: none;
  gap: var(--spacings-xSmall);

  flex-direction: column;
  padding: var(--spacings-medium);
  border-radius: var(--border-radius-regular);
}

.secondaryText {
  color: var(--text-colors-secondary);
}

@media only screen and (max-width: 650px) {
  .nearestContainer {
    grid-template-areas: 'map' 'stop-places';
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
