.text {
  color: token('color.foreground.dynamic.secondary');
  grid-area: price;
}

.container {
  display: flex;
  flex-direction: row;
  gap: token('spacing.small');
  align-items: center;
}

@media (max-width: 650px) {
  .container {
    flex-direction: column;
  }
}
