.main {
  display: grid;
  width: 100%;
  max-width: var(--maxPageWidth);
  padding: token('spacing.xLarge');
  margin: 0 auto;
}

.main h2,
.main h3 {
  margin-top: 2rem;
}

.main p + p {
  margin-bottom: token('spacing.medium');
}

.main details summary {
  cursor: pointer;
  margin: token('spacing.medium') 0;
}

.main details summary > * {
  display: inline;
}

.copyContainerDetails {
  display: block;
  /* Matching code block style */
  border-radius: 0.3em;
  padding: 1rem;
  background-color: token('color.background.neutral.0.background');
  color: token('color.background.neutral.0.foreground.primary');
}

.copyContainerDetails pre {
  max-width: 100%;
}

.copyContainer {
  position: relative;
  overflow-x: auto;
}

.copyButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: none;
  border: none;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.copyButton:hover {
  opacity: 0.7;
}

.copyIcon {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}
