.header {
  display: flex;
  gap: token('spacing.small');
  align-items: center;
  padding: token('spacing.small') token('spacing.medium');
}

@media (max-width: 650px) {
  .header {
    align-items: center;
  }
}

.header__duration {
  color: token('color.foreground.dynamic.secondary');
  margin-left: auto;
}

.situationIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
