.header {
  display: flex;
  gap: var(--spacings-small);
  padding: var(--spacings-small) var(--spacings-medium);
}

.header__duration {
  color: var(--text-colors-secondary);
  margin-left: auto;
}

.situationIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
