.options {
  display: grid;
  grid-template-columns: repeat(var(--number-of-options), minmax(0, 1fr));
  padding: token('spacing.xSmall');
  background: token('color.background.neutral.0.background');
  border: 1px solid token('color.foreground.dynamic.disabled');
  border-radius: token('border.radius.regular');
  align-items: center;
}

.options:focus-within {
  border-radius: token('border.radius.regular');
  outline: 0;
  box-shadow: inset 0 0 0 token('border.width.medium')
    token('color.interactive.2.outline.background');
}

.option__text {
  z-index: 2;
  color: token('color.foreground.dynamic.primary');
}

.option__label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: token('spacing.small');
}

.option__input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  display: block;
}

.option__input:checked + .option__label {
  color: token('color.interactive.0.default.foreground.primary');
}

.option {
  position: relative;
}

.option__selected {
  background: token('color.interactive.2.active.background');
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: token('border.radius.regular');
  border: token('border.width.medium') solid token('color.interactive.2.outline.background');
}
