.container {
  display: flex;
  padding: token('spacing.large');
  gap: token('spacing.medium');
  align-items: flex-start;
}
.borderRadius {
  border-radius: token('border.radius.regular');
}
.subtle {
  background-color: token('color.background.neutral.0.background');
  border: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: token('spacing.small');
}

.message__close {
  border: 0;
  background: 0;
  display: block;
  padding: 0 token('spacing.medium');
  cursor: pointer;
}

.message__close img {
  display: block;
}
