.container {
  display: flex;
  padding: token('spacing.medium');
  border: token('border.width.medium') solid;
}
.borderRadius {
  border-radius: token('border.radius.regular');
}
.subtle {
  background-color: token('color.background.neutral.0.background');
  border: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  margin-bottom: token('spacing.small');
  padding: token('spacing.small');
}
.body {
  padding: token('spacing.small');
}
.messageBox__button {
  padding: token('spacing.small');
}
.icon {
  margin-top: token('spacing.small');
}
