.transportIcons {
  display: flex;

  /* Specialized sizing. */
  /* @TODO investigate generic way to handle this */
  gap: 0.125rem;
}

.transportIcon {
  display: inline-block;

  /* Specialized sizing. */
  /* @TODO investigate generic way to handle this */
  border-radius: 0.125rem;
  padding: var(--spacings-xSmall);
}

.transportIcon img {
  display: block;
}
