.fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: token('spacing.large');
  margin: token('spacing.large');
  margin-top: 0px;
  border: none;
  border-radius: token('border.radius.regular');
  color: token('color.background.neutral.0.foreground.primary');
  background-color: token('color.background.neutral.0.background');
  gap: token('spacing.xSmall');
}

.fieldset > * + * {
  margin-top: token('spacing.xLarge');
}

.legend {
  position: absolute;
  top: token('spacing.medium');
}

@media (max-width: 600px) {
  .fieldset {
    padding: token('spacing.medium');
    padding-top: token('spacing.large');
  }
}
