.mapWithHeader {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  gap: token('spacing.medium');
  background: token('color.background.neutral.0.background');
  color: token('color.background.neutral.0.foreground.primary');
  border-radius: token('border.radius.regular') token('border.radius.regular') 0
    0;
  padding: token('spacing.medium');
}

.header__icons {
  display: flex;
  gap: token('spacing.medium');
}

.header__icons div {
  color: token('color.background.accent.0.foreground.primary');
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__info__secondary {
  color: token('color.foreground.dynamic.secondary');
}

.header__buttons {
  display: flex;
  gap: token('spacing.medium');
  margin-left: auto;
}

.mapContainer {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0 0 token('border.radius.regular')
    token('border.radius.regular');
  overflow: hidden;
  background-color: token('color.background.neutral.0.background');
}

.mapContainer__borderRadius {
  border-radius: token('border.radius.regular');
}
@media (max-width: 650px) {
  .mapContainer {
    border-radius: 0;
  }
}

.header__leftContainer {
  display: flex;
  gap: token('spacing.medium');
}

.map {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mapWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.fullscreenButton {
  display: none;
}

.closeButton {
  z-index: 250;
  position: absolute;
  top: token('spacing.xLarge');
  left: token('spacing.xLarge');
  display: none;
}

.closeButton img {
  display: block;
}

.buttonsContainer {
  position: absolute;
  right: token('spacing.xLarge');
  bottom: 3rem;
  z-index: 250;
}

.pinSvg__fill {
  fill: token('color.interactive.0.default.background');
}

@media only screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    background: inherit;
    color: inherit;
    padding: token('spacing.medium') 0;
  }

  .header__buttons {
    margin-left: 0;
    width: 100%;
    align-items: center;
  }

  .header__button {
    width: 100%;
    text-align: center;
  }

  .fullscreenButton {
    display: flex;
    justify-content: center;
    border: 2px solid token('color.foreground.dynamic.secondary');
  }

  .fullscreenButton span {
    flex: none;
  }

  .closeButton {
    display: block;
  }

  .mapWrapper {
    z-index: 250;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.mapLoading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  background-color: token('color.background.neutral.0.background');

  border-radius: 0 0 token('border.radius.regular')
    token('border.radius.regular');
}
