.miniMap {
  display: block;
  width: 100%;
  height: 11rem;
  cursor: pointer;
}

.miniMap > * {
  pointer-events: none;
}

.miniMapButton {
  display: none;
}

@media (max-width: 650px) {
  .miniMap {
    display: none;
  }

  .miniMap__mobileOpen {
    display: block;
    height: 16rem;
  }

  .miniMapButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: token('spacing.small');
    width: 100%;
    padding: token('spacing.medium');
    background: token('color.background.neutral.0.background');
    color: token('color.background.neutral.0.foreground.primary');
    border: 1px solid token('color.background.neutral.1.background');
    border-radius: token('border.radius.regular');
    cursor: pointer;
  }
}
