@value typo-body__secondary from "@atb/theme/typography.module.css";

.container {
  --height: 2.75rem;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  gap: var(--spacings-small);
}

.heading {
  color: var(--static-background-background_accent_0-text);
}
.infoText {
  color: var(--static-background-background_accent_1-text);
  opacity: 0.6;
}

@media (max-width: 650px) {
  .container {
    max-width: 100%;
  }
}
