.departureDateSelector {
  display: flex;
  flex-direction: column;
}

.options {
  width: fit-content;
}

.dateAndTimeSelectorsWrapper {
  overflow: hidden;
}

.dateAndTimeSelectors {
  display: flex;
  gap: token('spacing.medium');
  overflow: hidden;
  /* TODO: Spacing not in variables. Use variable instead? */
  margin-top: 0.375rem;
}

.dateSelector,
.timeSelector {
  --height: 2.75rem;
  border-radius: token('border.radius.regular');
  overflow: hidden;
  background-color: token('color.background.neutral.0.background');
  border: 1px solid token('color.foreground.dynamic.disabled');
  display: flex;
  justify-content: space-between;
}

.dateSelector label,
.timeSelector label,
.timeSelectorLabel {
  padding: token('spacing.medium');
  padding-right: 0;
  height: var(--height);
  min-width: 3rem;
}

.dateSelector input[type='date'],
.timeSelector input[type='time'] {
  height: var(--height);
  padding: token('spacing.medium');
  border: none;
  background-color: transparent;
  color: token('color.background.neutral.0.foreground.primary');
  flex: 1;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.timeSelectorGroup,
.calendarSelectorGroup {
  display: flex;
}

.timeSelectorInput {
  height: var(--height);
  padding: token('spacing.medium');
  color: token('color.background.neutral.0.foreground.primary');
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  display: flex;
}
.timeSelectorSegment:focus {
  background: token('color.background.neutral.2.background');
}

.calendarButton {
  background-color: token('color.background.neutral.0.background');
  border: none;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding: token('spacing.xSmall') token('spacing.medium');
  cursor: pointer;
  margin: 2px 0;
}

.dateSelector input[type='date']:focus,
.timeSelector input[type='time']:focus {
  outline: 0;
}

.dateSelector:focus-within,
.timeSelector:focus-within {
  box-shadow: inset 0 0 0 token('border.width.medium')
    token('color.interactive.2.outline.background');
}

.calendarDialog {
  padding: token('spacing.xSmall');
  background: token('color.background.neutral.0.background');
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
}
.calendarDialog__header {
  display: flex;
  gap: token('spacing.medium');
  justify-content: center;
  align-items: center;
  padding: token('spacing.small');
}
.calendarDialog__title {
  composes: typo-heading__m from '@atb/theme/typography.module.css';
}
.calendarDialog__headerButtons {
  background: none;
  border: none;
  padding: token('spacing.xSmall') token('spacing.medium');
  cursor: pointer;
}

.calendarGrid {
  width: 100%;
}

.calendarGrid__cell {
  padding: token('spacing.xSmall') token('spacing.medium');
  cursor: pointer;
  text-align: center;
}
.calendarGrid__cell[data-disabled] {
  opacity: 0.3;
  cursor: default;
}
.calendarGrid__cell[data-selected] {
  background-color: token('color.interactive.2.active.background');
  color: token('color.interactive.2.active.foreground.primary');
  font-weight: bold;
  border-radius: token('border.radius.small');
}

:global(.dark)
  .dateSelector
  input[type='date']::-webkit-calendar-picker-indicator,
:global(.dark)
  .timeSelector
  input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media (max-width: 650px) {
  .dateAndTimeSelectors {
    flex-direction: column;
    gap: 0.375rem;
  }

  .options {
    width: 100%;
  }
}

.timePickerButton {
  background-color: transparent;
  border: none;
  padding: token('spacing.xSmall') token('spacing.medium');
  cursor: pointer;
}
