.timeSelectorDialog {
  display: flex;
  padding: token('spacing.xSmall');
  background: token('color.background.neutral.0.background');
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
}

.scrollViews {
  display: flex;
  max-height: 12rem;
  width: 100%;
}

.scrollView {
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: none;
}

.scrollView::-webkit-scrollbar {
  display: none;
}

.numberItem {
  padding: token('spacing.small');
  cursor: pointer;
}

.numberItem:hover {
  background: token('color.interactive.0.active.background');
}

.numberItemSelected {
  background: token('color.interactive.2.active.background');
}
